#Regression문제

##RandomForestRegressor, svm로 적정모델을 찾아서 분류기 만들기 8:2로,평가지표는 mse
##데이터 스케일링하기(null값 등)
##테스트데이터 확인

In [15]:
import pandas as pd

bike_df = pd.read_csv('../bike dataset/bike_train_2.csv')
bike_df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [19]:
feature = bike_df['season', ]
label = bike_df['count']

0         16
1         40
2         32
3         13
4          1
        ...
10881    336
10882    241
10883    168
10884    129
10885     88
Name: count, Length: 10886, dtype: int64